<body bgcolor=#ffffe0>
<h3>CREAR NUEVA SUCURSAL<h3>
<form action="/matriz/crear-matriz" method="post">
    <br>
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre">
    </br>
    <br>
    <label for="direccion">Dirección</label>
    <input id="direccion" type="text" name="direccion">
    </br>
    <br>
    <label for="empleados">Empleados</label>
    <input id="empleados" type="text" name="empleados">
    </br>
    <br>
    <label for="horario">Horario</label>
    <input id="horario" type="text" name="horario">
    </br>
    <br>
    <label for="estado">Estado</label>
    <input id="estado" type="text" name="estado">
    </br>
    <br>
    <button type="submit">Crear</button>
    <button type="reset">Borrar</button>
    </br>
</form>
<a href="/matriz/matrices">
    <button>Cancelar</button>
</a>