<body bgcolor=#ffffe0>
<h3>CREAR NUEVA EMPRESA<h3>

<form action="/empresa/crear-empresa" method="post" class="text-center">
      <br>
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" required>
    </br>

    <br>
    <label for="ubicacion">Ubicación</label>
    <input id="ubicacion" type="text" name="ubicacion" required>
    </br>

    <br>
    <label for="creacion">Creacion</label>
    <input id="creacion" type="text" name="creacion" required>
    </br>

    <br>
    <label for="presidente">Presidente</label>
    <input id="presidente" type="text" name="presidente" required>
    </br>

    <br>
    <label for="ingresos">Ingresos</label>
    <input id="ingresos" type="text" name="ingresos" required>
    </br>

    <br>
    <label for="empleados">Empleados</label>
    <input id="empleados" type="text" name="empleados" required>
    </br>

    <br>
    <button type="submit">Crear</button>
    <button type="reset">Borrar</button>
    </br>

</form>
<a href="/empresa/empresas">
    <button>Cancelar</button>
</a>